/*--------- Temporary Styles ------------
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*/
a, header, img, h1 { border: 1px solid red; }
[class*=grid], [class*=col-] { border: 1px solid orange; }
/*-----------------------------------------------------------------*/

/*--------- Custom Stylesheet ------------*/
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: black;
    padding: 2%;
}
img {   max-width: 100%;    }

[class*=grid] {     padding:0;
                    margin: 0;  }
[class*=col-] {     padding:0;
                    margin: 0;  }
/*-----------------------------------------------------------------*/

/*--------- Utility Classes ------------*/
.padded     {   padding: 5%; }
.padded-0   {   padding: 0; }
.left       {   text-align: left;   }
.center     {   text-align: center; }
.right      {   text-align: right; }
/*-----------------------------------------------------------------*/
/*--------- Typography ------------*/

a {
    color: inherit;
    text-decoration: none;  }

a:hover {   color: red; }

/*-----------------------------------------------------------------*/

/*--------- Header ------------*/

header {    padding: 2% 5%; }

header a {  
            padding: 0.25rem; 
            border-box: inline-block;
        }

header img {
    border-box: inline-block; 
    max-width: 240px;
    display: flex-end;
    justify-content: center;
}
/*-----------------------------------------------------------------*/



/*--------- Institute Of Code ------------*/
/* SM - max-width in pixels approximately 768px */
@media(max-width: 48em) {
    .hide-sm { display: none; }
    .center-sm { text-align: center; }
    .flex-flip-sm { flex-direction: column-reverse; }
    }
    /*-----------------------------------------------------------------*/

  .bg-image {
      background-image: url('/images/bmw-3.jpg');
      min-height: 60vh;
      background-color: #021a3c;
      background-position: center;
  }